img{
 border-radius: 50%;
 height: 12em;
 margin-right:3em;
 }
h1,h2{
 color: rgb(115, 2, 150);
 margin-bottom: 0;
  background-color:rgba(140, 4, 181, 0.073);
  padding:0.2em;
 }
  body{
 margin:1em;
 background-color: rgb(222, 230, 249);
}
p{
 font-size:22px;
 font-style: italic;
 text-align: left;
 font-weight:lighter
}
#edu, #tech_skill{
 font-size: 20px;
 text-align: center;
}
th{
 padding-right:1em;
}
td{
 padding:0.3em;
}
#tech_skill{
 text-align: left;
 }
 hr{
  border-style:dotted none none;
  border-width:5px;
  width: 10%;
  height:0;
  color:rgba(115, 2, 150, 0.522);
 }
 li{
  list-style: none;
 }
 